/* AGREGAR ESTILOS
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/
/*Declaracion de variables*/
:root{
	/*Colors*/
	--bitcoin-orange: #f7931a;
	--soft-orange: #ffe9d5;
	--secondary-blue: #1a9af7;
	--soft-blue: #e7f5ff;
	--warm-black: #201e1c;
	--black:  #282623;
	--grey: #bababa;
	--off-white: #faf8f7;
	--just-white: #fff;

}
/*Selector universal*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
	font-family: "DM Sans", sans-serif;
}
header{
	position: relative;
	display: flex;
	/*direcion de los elementes
	en este caso sera en columna*/
	flex-direction:column;
	justify-content: center;
	width: 100%;
	/*el width no va a ser menos a 320px
	que es la dimension minima de los
	celulares*/
	min-width: 320px; 
	height: 334px;
	/*alinear el texto centralmente*/
	text-align: center;
	/*linear-gradient es difuminado*/
	/*Primero se expecifica los grados, despues
	el color y el porcentaje que va a tener el color y al
	final el otro color*/
	background:linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
/*especifididad para llamar las etiquetas*/
header img{
	width: 150px;
	height: 24px;
	margin-top: 60px;
	/*Como se esta utilizando flex esta es la forma
	 de poder centrar a un elemento que tenga un contenedor
	 con display flex*/
	align-self: center; 
}

.header--title-container{
	/*las tres lineas significan que va
	a estar utilizando siempre un
	width del 90% entre 288px y 900px*/
	width: 90%;
	min-width: 288px;
	/*una vez que llegue a 900px va a dejar
	de crecer*/
	max-width: 900px;
	height: 218px;

	margin-top: 40px;
	text-align: center;
	align-self: center;
}
/*Por buenas practicas
no podemo tener mas de un h1*/
.header--title-container h1{
	font-size: 2.4rem;
	/*peso de la fuente*/
	font-weight: bold;
	/*dimension entre lineas
	es decir dimension de altura*/
	line-height: 2.6rem;
	color: var(--just-white);
}
.header--title-container p{
	margin-top: 25px;
	font-size: 1.4rem;
	/*ancho de la fuente*/
	font-weight: 500;
	line-height: 1.8rem;
	color: var(--soft-orange);
}

.header--title-container .header--button{
	/*Positio obsolute hay como
	usar el top button el left pero si es en
	otra position como relative no podemos usarlo*/
	position:absolute;
	/*calc ganura un calculo
	queremos que se vaya al centro con el 50% - el 118px*/
	left:calc(50% - 118px);
	top: 270px;
	display: block;
	margin-top:35px;
	padding: 15px;
	width: 229px;
	height: 48px;
	background-color:var(--off-white);
	/*Sombra*/
	box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);  
	/*Quitar un borde definido*/
	border-radius: 5px;
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--black);
}
.header--button span{
	/*span viene por defecto en display inline*/
	display: inline-block;
	width: 13px;
	width: 13px;
	height: 8px;
	margin-left:10px;
	background-image:url("../assets/icons/down-arrow.svg");   
}
main{
	width: 100%;
	height: auto;
	background-color: var(--off-white);
}
.main-exchange-container{
	width: 100%;
	height: auto;
	padding-top: 80px;
	padding-bottom: 30px;
	text-align: center;
}
.main-exchange-container-title{
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	/*posicionar en el centro*/
	margin: 0 auto;
}
.main-exchange-container .backgroundImg{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 50px;
	background-image: url("../assets/img/bitcoin.svg");
	/*Para que no se deforme la imagen*/
	background-size:cover;
	/*Para qie siempre tengamos visibilidad del
	centro de la imagen*/ 
	background-position:center;
	background-repeat: no-repeat; 

}
.main-exchange-container h2{
	margin-bottom: 30px;
	font-size: 2.4rem;
	/*Peso a la fuente*/
	font-weight:bold;
	line-height: 2.6rem;
	color: var(--black);
}
.main-exchange-container p{
	margin-bottom: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.6rem;
	color: #757575;
}
/*tabla*/
.main-currency-table{
	width: 70%;
	min-width: 235px;
	max-width: 500px;
	height: 350px;
	margin: 0 auto;
	font-family: "Inter",sans-serif;
}
.main-currency-table .currency-table--title{
	margin-bottom: 15px;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 2.3rem;
	color: var(--bitcoin-orange);
}
.currency-table--container{
	width: 90%;
	min-width: 230px;
	max-width: 300px;
	height: 250px;
	margin: 0 auto;
}
.currency-table--container table{
	width: 100%;
	height: 100%;
}
.currency-table--container td{
	width: 50%;
	font-size: 1.6rem;
	font-weight:500;
	line-height: 1.9rem; 
	color: var(--grey);
	background-color: var(--just-white);
}
.currency-table--container .table__top-left{
	border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right{
	border-radius: 0 15px  0 0;
}
.currency-table--container .table__bottom-left{
	border-radius:  0 0 0 15px;
}
.currency-table--container .table__bottom-right{
	border-radius: 0 0 15px 0;
}
.currency-table--container .table__right{
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 1.7rem;
	color: #757575;
}
.currency-table--container .icons{
	/*alinear de forma horizontal los elementos*/
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 10px;
	background-size: cover;
	background-position: center; 
	background-repeat: no-repeat;
}
.currency-table--container .down{
	background-image:url("../assets/icons/trending-down.svg");
}
.currency-table--container .up{
	background-image:url("../assets/icons/trending-up.svg");
}
.currency-table--date{
	width: 190px;
	height: 40px;
	margin: 0 auto;
	margin-top: 15px;
	padding: 8px;
	background-color:var(--soft-orange);
	border-radius:8px; 
	/*se le conoce como overled-flod cuando el
	texto se sobresale del contenedos*/
}
.currency-table--date p{
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.5rem;
	color: var(--warm-black)
}

.main-product-detail{
	position: relative;
	width: 100%;
	min-width: 320px;
	height: auto;
	padding: 20px 10px;
	background-color: var(--warm-black);
}
.product-detail--batata-logo{
	/*El contenedor principal pusimos
	relative por que el absolute cuando colocamos algun elemento
	va a buscar al primer contenedor padre que tenga
	un posicion relative para que se base de ahi
	si no se saldria del contenedor en busca de otro 
	contenedor padre con position relative*/
	position: absolute;
	width: 40px;
	height: 25px;
	top: -10px;
	/*Centrar el elemnto*/
	/*Se calcula con la mitad del ancho del elemnto*/
	left: calc(50% - 20px);
	background-image: url("../assets/icons/batata.svg");
}
.product-detail--title{
	width: 90%;
	min-width: 288px;
	/*para que el mismo texto delimite
	su crecimiento*/
	height: auto;
	/*posicione en el centro el contenedor*/
	margin: 0 auto;
	margin-top: 50px;
	/*Para alinear en el centro el texto*/
	text-align: center;
}
.product-detail--title h2{
	margin-bottom: 20px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--just-white);
}
.product-detail--title p{
	margin-bottom: 20px;
	font-size: 1.4rem;
	font-weight: 500;
	/*ancho de fuente*/
	line-height: 1.8rem;
	color:#808080 ;
}
/*estilos de la tarjeta*/
.product-detail--card{
	width: 90%;
	min-width: 288px;
	max-width: 400px;
	/*Cuando ponemos en px limitamos el creciemitoo*/
	/*Poniebdo min-height podemos hacer que el
	contenedor pueda ir creciendo*/
	min-height: 150px;

	margin: 15px auto;
	/*Posicionar su contenido*/
	padding: 15px;
	background-color: var(--black);
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0,0,0, 0.16);

}
.product-detail--card .clock{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
	background-image: url("../assets/icons/clock.svg");
	/*recomendacion para las imagenes usar siempre*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
}
.product-detail--card .product--card-title{
	margin-bottom: 15px;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.8rem;
	color: var(--just-white)
}
.product-detail--card .product--card-body{
	font-size: 1.4rem;
	font-weight: 500;
	line-height:1.8rem;
	color: #808080;
}
/*seccion comodin*/
.bitcoin-img-container{
	width: 100%;
	min-width: 320px;
	height: 50vh;
	background-image: url("../assets/img/bitcoinbaby2x.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*aliniar ek texti*/
	text-align: center; 
}
.bitcoin-img-container h2{
	padding-top: 60px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--just-white)
}
/*Seccion de planes*/


.main-plans-container{

	width: 100%;
	min-width: 320px;
	padding-bottom: 70px;
	text-align: center
}
.plans--title{
	width: 90%;
	min-width: 288px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 50px;
}
.plans--title h2{
	padding-top: 50px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--black);
}
.plans--title p{
	padding-top: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #757575;
}
/*para hacer scroll*/
.plans-container--slider{
	display: flex;
	/*generario un espacio entre los elemtnos*/
	
	height: 316px;
	/*overflox*/
	/*Para hacer un scroll 
	cuando hay mas elementos en el contenedor
	y sobresale de la pantalla*/
	overflow-x:scroll;
	overscroll-behavior-x:contain;
	/*hayq ue poner a que linea vertical se va aplixar es decir
	x o y*/
	scroll-snap-type: x proximity; 
}

.plans-container--card{
	/*para generar el efecto flotante*/
	position: relative;
	/*Para generar el scroll se debe utizar 
	las etiquetas en la clase padre y en la clase hijo
	para saber que elementos se desea hacer un scroll*/
	/*Me va a jalar al mcentro automaticamente*/
	scroll-snap-align:center;
	width: 70%;
	min-width: 190px;
	/*Que la tarjeta no sea muy grande para
	ser repocisionado*/
	max-width: 300px;
	height: 250px;
	margin: 50px 5px 0;
	padding: 0 15px;
	background-color: var(--just-white);
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(89,73,30,0.16); 
}
.recomemendado{
	/*para generar el efecto flotante*/
	position: absolute;
	width: 120px;
	height: 31px;
	padding: 6px;
	top: -15px;
	/*Centrar todo el contenedor*/
	left: calc(50% - 60px);
	font-size: 1.2rem;
	background-color: var(--bitcoin-orange);
	border-radius: 8px;
	color: var(--just-white);
}
.plan-card--tittle{
	padding-top: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: black;	
}
.plan-card--price{
	/*position: relative;*/
	padding: 5px 0;
	font-size: 5.2rem;
	font-weight: bold;
	line-height: 5.3rem;
	color: black;
}
.plan-card--price span{
	/*position: absolute;
	top: -8px;
	left: 55px;*/
	vertical-align: 25px;
	font-size: 1.2rem;
	font-weight: 300;
}
.plan-card--saving{
	font-size: 1.2rem;
	color: #757575;
}
.plan-card--ca{
	width: 150px;
	height: 48px;
	margin-top: 20px;
	background-color: #faf8f7;
	border:2px solid var(--bitcoin-orange);
	border-radius: 4px;
	font-family: "DM Sans", sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.8rem;
	color: var(--black);
}
.plan-card--ca span{
	/*para que se ponga en linea con los otros elementos*/
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url("../assets/icons/orange-right-arrow.svg");
	/*alinear el span hacia el texto en la parte de abajo
	*/
	vertical-align: text-bottom;
}
footer{
	/*Para que los section vayan uno en frente del
	ptrp*/
	display: flex;
	width: 100%;
	height: 150px;
	background-color: var(--bitcoin-orange);	
}
footer section{
	/*para centrar horizontal
	y verticalmente*/
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
}
footer .left ul{
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	list-style: none;
}
.left li{
	margin: 10px 0;
}
.left li a{
	text-decoration: none;
	color: var(--just-white);
}
